apiVersion: 1
datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    # In Railway, services can discover each other using service name as hostname
    url: http://prometheus:9090
    isDefault: true
    editable: false
    uid: DS_PROMETHEUS

